@import url('https://fonts.googleapis.com/css2?family=Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;700&display=swap');

$black : #000000;
$white: #ffffff;
$yellow: #ffda09;
$orange: #F27C19;
$gold: #F8CF0B;
$blue: #6558f5;
$gray: #707070;
