@import url('https://fonts.googleapis.com/css2?family=Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;700&display=swap');

$black : #000000;
$white: #ffffff;
$orange: #F27C19; //brahim
$gold: #F8CF0B;
$blue: #6558f5;
$gray: #707070;
$yellow : #ffDD00;
$yellowdark : #F27C19; //emilie
$yellowlight : #F8CF0B;