/*feuille de style SASS p.3 Insricption ACS Music*/
//variables de couleur (format CSS):
:root{
    --yellow: #FFDD00;
    --white: #ffffff;
    --black: #000000;
    --yellow-light: #F8CF0B;
    --yellow-dark: #F27C19;
}

body{
    font-family: 'Assistant', sans-serif;
    background-image: url("../images/mur.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;   
}
//image du sign up en rond 
.signup{
    border-radius: 100%;
    width: 50%;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
    margin-top: 25px;
}
// container du formulaire blanc 
form{
    background-color: var(--white);
    width:90%;
    z-index: 3;
    position: relative;
    padding: 150px 0 120px 0;
    margin-top: 112px;
    margin-left: 18px;
    box-shadow: 0 0 20px var(--yellow);
}
    form p{
        margin-left: 50px;
        margin-bottom: 0;
        font-size: 1.3em;
    }
    form input{
        padding: 10px 50px;
        border-radius: 15px;
        display: block;
        margin: auto;
        border-width: 1px;
        border-color: grey;
        border-style: solid;
    }
    #password {
        margin-bottom: 55px;
    }
    //bouton "done"
    .btn{
        text-decoration: none;
        background-color: var(--black);
        padding: 7px 50px;
        border-radius: 50px;
        color: var(--white);
        font-size: 1.3em;
        margin-left: 87px;
        margin-top: 20px;
        transition: box-shadow 500ms;
    }
    //animation, néon du bouton "done"
    .btn:hover{
        transition: box-shadow 500ms;
        box-shadow: 0 0 20px var(--yellow-light);
    }
    // lien already have an account
    .account{
        text-decoration: none;
        position: relative;
        left: 95px;
        bottom: -30px;
        color: var(--black);
        
    }

    //les messages d'erreurs
    .consigne{
        display: none;
        font-size: 0.8em;
        color: red;
        
    }
    .errormail{
        display: none;
        font-size: 0.8em;
        color: red;
    
    }
