:root{
    --black:#000000;
    --white:#ffffff;
    --yellow:#ffda09;
    --blue: #6558f5;
    --gray: #81919d;
}

body{
    margin: 0;
    font-family: 'Assistant', sans-serif;
    font-family: 'Vibes', cursive;
}

header{
    background: linear-gradient(#F27C19, #F8CF0B);
    text-align: center;
}
.imghead{
    width: 57%;
    margin-bottom: 4%;
    margin-top: 4%;
}

.titles{
    h1{ //nom de l'album
        font-family: 'Assistant', sans-serif;
        display: block;
        text-align: center;
        font-size: 1.6em;
    }

    h2{ //nom de l'artiste
        font-family: 'Assistant', sans-serif;
        display: block;
        text-align: center;
        font-size: 1.2em;
    }

    
    img{
        display: block;
        margin: auto;
        width: 37%;
    }

    .soundwave{
        height: 45px;
    }

    img.playerbar{
        padding-top: 5%;
        width: 80%;
    }
}

.buttons{
    display: flex;
    justify-content: center;
    padding: 6% 0;
    align-items: center;
        .btn{     
            width: 40px;
            height: 40px;
        }
        .btn2{
            width: 30px;
            height: 30px;
        }
        .btn-player{
            width: 100px;
            height: 100px;
        }
        
}

// Partie footer :
footer {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    font-size: 2em;
    padding: 2% 0;
    position: relative;
    z-index: 1; //Est devant les images de décorations.
    
}
footer a { //Lien du footer.
    text-decoration: none;
    color: white;
}
@media (min-height: 800px){
    .imghead{
        width: 100%;
        margin: 0;
    }
    .buttons{
        padding: 7.9% 0;
    }
    header{
        background: unset;
    }
}