:root {
    --black : #000000;
    --white: #ffffff;
    --yellow: #ffda09;
    --blue: #6558f5;
}


h1{
    text-align: center;

}

.container{
    width:80%;
    margin:auto;
    

}

.input {
    width:85% ;
    display: block;
    border-style: solid ;
    border-color:var(--black);
    border-width: 1px;
    margin:auto;
}

.btn {
    background-color: var(--blue);
    margin: 10% auto;
    border-style:none;
    display: block;
    padding:5px 10px;
    border-radius: 5px;
    }

a {
    margin:8% auto;
    display:block;
    text-align: center;
    text-decoration: none;
    color:var(--black)
}

p{
    margin-bottom: 0;
    margin-left: 6%;
}

body {
    font-family: 'Roboto', sans-serif;
}