/*feuille de style SASS, index p.1*/
//importation de la feuille de couleur 
@import "_variables.scss";

//animation du logo
@keyframes balance{
    0% {
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(8deg);
    }
}

//Configurations générales :
body { //Pas de marges, taille de police qui définie 1em, police par défaut.
    margin: 0;
    font-size: 16px;
    font-family: 'Assistant', sans-serif;
    background: url("../images/backindex.jpg") center no-repeat fixed; 
    background-size :cover;
}
.container { // Container et texte centré au besoin.
    width: 80%;
    margin: auto;
}
.text-center {
    text-align: center;
}

// Configuration du logo :
#logo {
    width: 33%;
    padding: 5% 0 0 5%;
    &:hover {
        animation: balance 1s infinite;
    }
}

//Configuration du slogan :
text { // Mise en forme du chemin en SVG : rotation du texte et translation.
    transform: rotate(-18deg);
}
svg {
    transform: translateY(-6%);
}
#slogan { //Police, taille texte...
    font-family: 'Vibes', cursive;
    font-weight:normal;
    font-size: 2em;
}


//Bouton sign up :
.btn-index {
    text-decoration: none; //Configuration du texte
    color: $black;
    font-weight: 700;
    font-size: 2em;
    background-color: $white; //Configuration de l'input
    border-radius: 50px;
    padding: 1.5% 15%;
    opacity: 0.8;
    box-shadow: none;
    transition: 400ms;
    &:hover {
        box-shadow: 0px 0px 10px $white;
        transition: 400ms;
    }
}



// Lien create an acount :
.index-link {
    display: block;
    text-decoration: none;
    color: $gold;
    font-size: 1.2em;
    padding-top: 4%;
}
//bouton sign in
#btnaccueil{
    padding-top: 15%;
}

//emplacement du bouton sign in pour les écrans de plus de 810px (format Iphone X, XR et plus)
@media (min-height: 810px) {
    #btnaccueil{
        padding-top:30% ;
    }
}